@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: 'Inter', sans-serif;
  transition: background-color 0.3s, color 0.3s;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;

}

h1, h2, h3, h4 {
  font-family: 'Poppins', sans-serif;
}